.title{
    text-align: center;
    min-height: 7rem;
}

.date{
    margin-top: -20px;
}

body{
    /* background-color: #c1efeb; */
    background: linear-gradient(
        to right, rgb(133, 212, 251), #fff 35%, #e01098);
    background-size: 200% auto;
}


ul{
    list-style-type: none;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .card {
    width: 15%;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    padding: 10px;
    box-shadow: -10px 10px 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 1.1em;
    overflow: hidden;
    background-color: #fff;
  }
  
  .card img {
    width: 100%;
    height: auto;
  }
  
  
  